<div class="m-5">
  <h1 class="text-center mt-5"><%= @user.username %></h1>
   <div class="friend-invite text-center">
           <% unless (current_user == @user) || current_user.friends?(@user)  %>
            <%= form_with(model: current_user.friendships.new, local: true) do |f| %>
              <%= hidden_field_tag :user, @user.id%>
              <%= f.submit "Add Friend", class: "btn btn-primary" %>
            <% end %>
          <% end %>
         </div>
</div>
<% @user.posts.each do |post| %>
  <ul class="list-unstyled main-ul">
    <div class= "d-flex index-card">
      <div>
        <% if !post.user.facebook_picture_url.nil? || post.user.avatar.attached? %>
          <% avatar_url = post.user.facebook_picture_url || post.user.avatar %>
          <% if avatar_url == post.user.facebook_picture_url %>
            <%= image_tag avatar_url, height: 45, width: 45, class: "navbar-img"%>
          <% else %>
            <%= image_tag avatar_url, height: 45, width: 45, class: "navbar-img"%>
          <% end %>
        <% end %>
      </div>
      <div class="card-title">
        <%= link_to post.user.username, user_path(post.user) , class: ""%>
        <small class="small-info"><%= time_ago_in_words(post.created_at)%> ago.</small>
     
      </div>
      <% if current_user == post.user%>
        <div class="index-post-dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link navigation-links" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa-stack fa-1x more-first-icon">
                <i class="fas fa-circle fa-stack-2x more-second-icon"></i>
                <i class="fas fa-ellipsis-h fa-stack-1x fa-inverse more-third-icon "></i>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right text-center dropdown-radius card-dropdown" aria-labelledby="navbarDropdownMenuLink">
              <div class="index-dropdown-info">
                <span ><%= link_to "Delete", post, method: :delete, remote: true %> </span>
              </div>
              <div class="index-dropdown-info"><span><%= link_to "Edit", edit_post_path(post) %></span></div>
            </div>
          </li>
        </div>
      <% end %>
    </div>
    <% if post.content.empty?  %>
      <li class="text-center"> <%= cl_image_tag post.image.key, height: 500, crop: :fit, class: "card-image" if post.image.attached? %></li>
    <% elsif !post.image.attached?%>
      <li class="content"><%= post.content %></li>
    <% else %>
      <li class="content"><%= post.content %></li>
      <li class="text-center"> <%= cl_image_tag post.image.key, height: 500, crop: :fit, class: "card-image" if post.image.attached? %></li>
    <% end %>
   
   


<% post.comments.each do |comment| %>
            <%= render 'shared/post_comment', comment: comment %>
          <% end %>






   
   
   
   
    <li class="mt-2">
      <%= form_with(model: [post, @comment]) do |f| %>
        <% if @comment.errors.any? %>
          <% @comment.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        <% end %>
        <div class="upload-container"> <%= f.text_area :content, placeholder: 'Write a comment...', style: 'width:100%;', size:"1x1", class: "text-area"%>
          <%= f.submit "Comment", class: "submit" %>
          <div>
            <label>
              <i class="far fa-image tooltip-top upload-icon" data-toggle="tooltip" data-title="Upload a photo" data-placement="top" data-trigger="hover" data-original-title title ></i>
              <span style="display:none;">
                <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: 'validate_image'%>
              </span>
            </label>
          </div>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>
