    <% @user ||= current_user %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="mt-5 friends-container">
        <div class="d-flex justify-content-between p-3">
          <div>
            <h4>Friends</h4>
            <small> <%= pluralize(@user.friends.count, "friend") %></small>
          </div>
          <div>
          </div>
        </div>
        <div class="friend-avatars p-3">
          <% @user.friends.limit(9).shuffle.each do |friend| %>
            <% if friend.avatar.attached?  %>
              <span>
                <%= link_to friend do %>
                  <% if !friend.facebook_picture_url.nil? || friend.avatar.attached? %>
                    <% avatar_url = friend.facebook_picture_url || friend.avatar %>
                    <% if avatar_url == friend.facebook_picture_url %>
                      <%= image_tag avatar_url, height: 45, width: 45, class: "nav-bar"%>
                    <% else %>
                      <%= image_tag avatar_url, height: 45, width: 45, class: "avatars"%>
                    <% end %>
                  <% end %>
                <% end %>
                <small><%= link_to friend.username, friend %></small></span>
            <% else %>
              <span>
                <%= link_to friend do %>
                  <%= image_tag "http://via.placeholder.com/45", height: 70, width: 70, class: "avatars" %>
                <% end %>
                <small><%= link_to friend.username, friend %></small></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= render 'user_profile' %>
    
    </div>
  </div>
</div>
