<p> <%= comment.content %> <%= cl_image_tag comment.image.key, height: 200, width: 200, crop: :fit if comment.image.attached? %> -
  Posted by: <%=comment.user.username %>| Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
<% if current_user == comment.user %>
  <%= link_to "delete" , comment, method: :delete, data: {confirm: "Are you sure?"}, remote: true%>
<% end %>
