
<div class="commentss">
  <div class="comment-container d-flex">
  
    <li>  <%= cl_image_tag comment.user.avatar.key, height: 45, width: 45,crop: :fit, class: "comment-avatar" if comment.user.avatar.attached? %>
    </li>
    <li class="comment-info"><strong><%=comment.user.username %></strong> <br>
      <%= comment.content %>  </li>
      <div class="delete-comment">
  <% if current_user == comment.user %>
    <%= link_to comment, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "comment-delete",data: { toggle: 'tooltip', title: "Remove", placement: 'right', trigger: 'hover'} do%>
      <i class="fas fa-times"></i>
    <% end %>
<% end %>
  </div>
  </div>
  <%= cl_image_tag comment.image.key, height: 200, crop: :fit, class: "comment-img" if comment.image.attached? %>
  </div>
  <div class="times-ago"><small><%= time_ago_in_words(comment.created_at) %></small>
</div>
