
<div class="comments">
  <div class="comment-container d-flex">
  
    <li>
     <% if !comment.user.facebook_picture_url.nil? || comment.user.avatar.attached? %>
        <% avatar_url = comment.user.facebook_picture_url || comment.user.avatar %>
        <% if avatar_url == comment.user.facebook_picture_url %>
        <%= image_tag avatar_url, height: 45, width: 45, class: "navbar-img"%>
        <% else %>
        <%= cl_image_tag comment.user.avatar.key, height: 45, width: 45,crop: :fit, class: "comment-avatar" if comment.user.avatar.attached? %>
        <% end %>
      <% else %>
        <%= image_tag "http://via.placeholder.com/45", class: "navbar-img index-img" %>
      <% end %>
    </li>
    <li class="comment-info"><strong><%=comment.user.username %></strong> <br>
      <%= comment.content %>  </li>
      <div class="delete-comment">
  <% if current_user == comment.user %>
    <%= link_to comment, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "comment-delete",data: { toggle: 'tooltip', title: "Remove", placement: 'right', trigger: 'hover'} do%>
      <i class="fas fa-times"></i>
    <% end %>
<% end %>
  </div>
  </div>
  <%= cl_image_tag comment.image.key, height: 200, crop: :fit, class: "comment-img" if comment.image.attached? %>
  </div>
  <div class="times-ago"><small><%= time_ago_in_words(comment.created_at) %></small>
</div>
