<h3>hello</h3>
<h3>Friends</h3>
<% @user.friends.each do |friend|  %>
  <%= friend.username %>
  <%= link_to friendship_path(@user.friendships.find_by(friend_id:friend).id,friend_id: friend.id),data: {confirm: 'Are you sure?'}, method: 'delete', remote: true do %>
    <%= button_tag "Remove from friends", class: "btn btn-primary" %>
  <% end %>
<% end %>
<h3>Pending invitations</h3>
<% @user.pending_friends.each do |friend| %>
  <p>Invitations sent to: <%= friend.username %>
    <%= link_to cancel_friendships_path(pending_friend_id: friend.id),data: {confirm: 'Are you sure?'}, method: 'patch', remote: true do %>
      <%= button_tag "Cancel", class: 'btn btn-primary' %>
    <% end %>
  </p>
<% end %>
<h3>Requested invitations</h3>
<% @user.requested_friends.each do |friend| %>
  <p>Invitation send by: <%= friend.username %>
    <%= link_to accept_friendships_path(request_by_id: friend.id), method: 'patch', remote: true do  %>
      <%= button_tag "Accept", class: 'btn btn-primary' %>
    <% end %>
    <%= link_to decline_friendships_path(request_by_id: friend.id),data: {confirm: 'Are you sure?'}, method: 'patch', remote: true do %>
      <%= button_tag "Decline", class: 'btn btn-primary' %></p>
  <% end %>
<% end %>
