<li>
  <%= form_with(model: [post, comment]) do |f| %>
    <% if comment.errors.any? %>
     <% comment.errors.full_messages.each do |msg| %>
     <%= msg %>
     <% end %>
    <% end %>
    <%= f.text_area :content, placeholder: 'Write a comment...', row: 1, style: 'width:100%;'%>
    <%= f.submit "Comment", id:"testing" %>
     <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: 'validate_image' %>
  <% end %>
</li>