<%# TODO - format the code and split it in partials %>
<%# avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<%#= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

<div class="container">
  
  
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-sm-6 col-md-6"><ul>
  <% @posts.each do |post| %>
    <%= render 'shared/post_info', post: post %>
    <li><%= render partial: 'comment_form', locals: {post: post, comment: @comment} %></li>
    <% post.comments.each do |comment| %>
      <%= render 'shared/post_comment', comment: comment %>
    <% end %>
    <%= render 'shared/like_form', post: post %>
  <% end %>
</ul>
<%= link_to "Create new post", new_post_path %></div>
  </div>
</div>