<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center">Create Post</h3>
      <%= form_with(model: @post, local: true) do |f| %>
        <% if @post.errors.any? %>
          This form contains <%= pluralize(@post.errors.count, "error") %>
          <% @post.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        <% end %>
        <%= f.text_area :content, placeholder: "What's on your mind, #{current_user.username} ?",
               size: "50x5",class: "post-input" %>
       <p>
          <%= f.submit "Post", class: "post-btn" %>
          <label>
            <i class="far fa-image tooltip-top upload" data-toggle="tooltip" data-title="Upload a photo" data-placement="top" data-trigger="hover" data-original-title title ></i>
            <span style="display:none;">
              <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: 'validate_image'%>
            </span>
          </label>
       </p>
      <% end %>
    </div>
  </div>
</div >
