<h3>Create Post</h3>
<ul>
  <%= form_with(model: @post, local: true) do |f| %>
    <% if @post.errors.any? %>
      This form contains <%= pluralize(@post.errors.count, "error") %>
      <% @post.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>
    <li><%= f.label :content, "Whats on your head ?" %></li>
    <li><%= f.text_area :content %></li>
    <li><%= f.submit "Post" %></li>
  <% end %>
</ul>
