<h3 class="text-center" >Create Post</h3>
<div class="text-center">
  <%= form_with(model: @post, local: true) do |f| %>
    <% if @post.errors.any? %>
      This form contains <%= pluralize(@post.errors.count, "error") %>
      <% @post.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>
    <div>
      <%= f.text_area :content, placeholder: "What's on your mind, #{current_user.username} ?",
       size: "50x5",class: "post-input" %>
    </div>
   <div class="d-flex buttons">
     <div> <%= f.submit "Post", class: "post-btn" %></div>
    <div>
      <label>
        <i class="far fa-image tooltip-top upload" data-toggle="tooltip" data-title="Upload a photo" data-placement="top" data-trigger="hover" data-original-title title ></i>
        <span style="display:none;">
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: 'validate_image'%>
        </span>
        </label>
    </div>
   </div>
  <% end %>
</div>
